<app-header></app-header>
<app-ticker></app-ticker>

<h1 class="welcome-title">¡Bienvenido!</h1>

<div class="dashboard-container">
  <div class="text-container">
    <h2 class="panel-title">Panel Administrador BanCoquito</h2>
    <p class="description">Gestiona tus cuentas y transacciones de manera sencilla.</p>
  </div>

  <div class="cards-container">
    <div class="card">
      <h3 class="card-title">Cuentas</h3>
      <p class="card-description">Consulta y crea nuevas cuentas bancarias.</p>
      <button class="btn" routerLink="accounts">Ver Cuentas</button>
    </div>

    <div class="card">
      <h3 class="card-title">Transacciones</h3>
      <p class="card-description">Realiza diferentes transacciones sobre cuentas bancarias.</p>
      <button class="btn" routerLink="transactions">Ver Transacciones</button>
    </div>
  </div>
</div>

<app-footer></app-footer>