<div class="footer-container">
    <div class="footer-section">
      <h3>Te puede interesar</h3>
      <ul>
        <li>Acerca de nosotros</li>
        <li>Trabaja con nosotros</li>
        <li>Grupo BanCoquito</li>
        <li>Centro de Ayuda</li>
        <li>Puntos de atención</li>
        <li>Accesibilidad</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Legales</h3>
      <ul>
        <li>Gobierno Corporativo</li>
        <li>SARLAFT</li>
        <li>Protección de datos</li>
        <li>Términos y Condiciones de uso</li>
        <li>Proceso licitatorio seguros 2023-2025</li>
        <li>Tarifas</li>
        <li>Autorización para tratamiento de datos personales</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Atención al Consumidor Financiero</h3>
      <ul>
        <li>Defensor del Consumidor Financiero</li>
        <li>Contáctanos</li>
      </ul>
      <p>Carrera 48 # 26 - 85 Medellín – Colombia</p>
      <p>Bogotá +57 (601) 343 0000</p>
      <p>Medellín +57 (604) 510 9000</p>
      <p>Línea gratuita resto del país: 01 8000 9 12345</p>
    </div>
  </div>
